#Visual studio files
*.filters
*.vcxproj
[Dd]ebug/
[Rr]elease/

[Rr]esources/[Mm]odels/
[Rr]esources/[Nn]ormalMaps/
[Rr]esources/[Ss]fx/
[Rr]esources/[Tt]extures/
Resources/BVH/
Resources/bgm/
Resources/Bones/
